/* My Css entries */

html, body {
    height: 100%;
}

.page-nitro {
    min-width: 1000px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.page-top {
    background-image: linear-gradient(180deg,#7c75ee,#e767eb 75%);
    height: 100%;
    width: 100%;
}

.nav {
    width:100%;
    height: 56px;
    padding: 8px 0;
}

.nav-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
    height: 56px;
    display: flex;
}

.nav-content-column {
    display: flex;
    align-items:center;
    flex-shrink: 0;
}

.nav-list {
    display: flex;
    flex: 0 0 auto;
    list-style: none;
    height: 16px;
}

.nav-list-item {
    flex: 0 0 auto;
    padding: 0 10px;
    text-align: center;
    height: 16px;
}

.nav-list-link {
    margin-right: 8px;
}

.nav-list-menu {
    cursor: default;
}

.nav-list-skin:hover {
    opacity: 100%;
}

.nav-list-skin {
    font-size: 14px;
    color: white;
    opacity: 80%;
    transition: opacity .125s;
}

.flex-grow {
    flex-grow: 1;
    min-width: 12px;
}

.login{
    padding:5px 17px 7px;
    border: 2px solid hsla(0,0%,100%,.8);
    border-radius: 20px;
}

.svg {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.svg-logo {
    background-image: url("../assets/dis-logo.svg");
    height: 36px;
    width:33px;
}

.svg-discord {
    background-image: url("../assets/discord.svg");
    height: 36px;
    width: 98px;
    margin-right: 12px;
}

.svg-twitter {
    background-image: url("../assets/twitter.svg");
    height: 16px;
    width: 16px;
}

.svg-facebook {
    background-image: url("../assets/facebook.svg");
    height: 16px;
    width: 16px;
}

.svg-instagram {
    background-image: url("../assets/instagram.svg");
    height: 16px;
    width: 16px;
}

.svg-arrow {
    background-image: url("../assets/arrow.svg");
    height: 5px;
    width: 7px;
    margin-bottom: 1px;
}

.svg-arrow-mid {
    padding-bottom: 6px;
}

.svg-locale {
    background-image: url("../assets/locale.svg");
    height: 20px;
    width: 22px;
}

.divider {
    height: 14px;
    width: 2px;
    border-radius: 1px;
    background-color: hsla(0,0%,100%,.2);
    display: inline-block;
}

.hero {
    width: 100%;
    padding: 130px 0 350px;
    display: flex;
    flex-wrap: wrap;
}

.hero-content {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
    flex: 1 1 auto;
}

.hero-wave {
    background-image: url("../assets/wave.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    flex: 1 1 auto;
}

.discord-big {
    background-image: url("../assets/discord.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -10px;
    left: -10px;
    height: 55px;
    width: 160px;
}

.nitro-big {
    background-image: url("../assets/nitro-s.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -15px;
    left: 0;
    height: 68px;
    width: 248px;
}

.subheading {
    max-width: 620px;
    margin-bottom: 20px;
    color: white;
    font-size: 26px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.btn {
    height: 44px;
    min-width: 165px;
    box-shadow: 0 10px 20px rgba(32,34,37,.3);
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: content-box;
}

.btn-skin {
    font-size: 14px;
    color: white;
}

.btn-gutter {
    margin-right: 20px;
}

.btn-span-border {
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 3px;
    padding: 2px;
    line-height: 1;
    margin-left: 6px;
}

.btn-flex {
    display: flex;
}
