/* My Css entries */

html, body {
    height: 100%;
    font-size: 62.5%;
}

.page-nitro {
    min-width: 1000px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.page-top {
    background-image: linear-gradient(180deg,#7c75ee,#e767eb 75%);
    height: 100%;
    width: 100%;
}

.nav {
    width:100%;
    height: 56px;
    padding: 8px 0;
}

.nav-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
    height: 56px;
    display: flex;
}

.nav-content-column {
    display: flex;
    align-items:center;
    flex-shrink: 0;
}

.nav-list {
    display: flex;
    flex: 0 0 auto;
    list-style: none;
}

.nav-list-item {
    flex: 0 0 auto;
    padding: 10px;
    height: 16px;
}

.nav-list-margin {
    margin-right: 8px;
}

.nav-list-menu {
    cursor: default;
    position: relative;
}

.gone {
    opacity: 0;
    visibility: hidden;
    transform: scale(.9) translateY(-20px);
}

.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0px);
}

.dropdown {
    list-style: none;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    overflow: hidden;
    min-width: 118px;
    background: #fff;
    border-radius: 4px;
    padding: 4px 4px;
    position: absolute;
    top:40px;
    left:0;
    transition: opacity .125s,transform .125s,visibility .125s;
}

.dropdown-list span {
    cursor: pointer;
    font-size: 1.2rem;
    color: #9099a4;
    padding: 7px 14px;
    display: block;
    border-radius: 3px;
    transition: color .125s, background-color .125s;
}

.dropdown-list span:hover {
    color: #18191c;
    background-color: gainsboro;
}

.nav-list-skin:hover {
    opacity: 100%;
}

.nav-list-skin {
    font-size: 1.4rem;
    color: white;
    opacity: 80%;
    transition: opacity .125s;
}

.flex-grow {
    flex-grow: 1;
    min-width: 12px;
}

.login {
    padding:5px 17px 7px;
    border: 2px solid hsla(0,0%,100%,.8);
    border-radius: 20px;
}

.svg {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.svg-logo {
    background-image: url("../assets/dis-logo.svg");
    height: 36px;
    width:33px;
}

.svg-discord {
    background-image: url("../assets/discord.svg");
    height: 36px;
    width: 98px;
    margin-right: 12px;
}

.svg-twitter {
    background-image: url("../assets/twitter.svg");
    height: 16px;
    width: 16px;
}

.svg-facebook {
    background-image: url("../assets/facebook.svg");
    height: 16px;
    width: 16px;
}

.svg-instagram {
    background-image: url("../assets/instagram.svg");
    height: 16px;
    width: 16px;
}

.svg-arrow {
    background-image: url("../assets/arrow.svg");
    height: 5px;
    width: 7px;
    margin-bottom: 1px;
}

.svg-arrow-mid {
    padding-bottom: 6px;
}

.svg-locale {
    background-image: url("../assets/locale.svg");
    height: 20px;
    width: 22px;
}

.divider {
    height: 14px;
    width: 2px;
    border-radius: 1px;
    background-color: hsla(0,0%,100%,.2);
    display: inline-block;
}

.hero {
    width: 100%;
    padding: 130px 0 20px;
}

.hero-content {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
}

.hero-align {
    width: 250px;
}

.svg-discord-big {
    background-image: url("../assets/discord.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -10px;
    left: -10px;
    height: 55px;
    width: 160px;
}

.svg-nitro-big {
    background-image: url("../assets/nitro-s.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -15px;
    left: 0;
    height: 68px;
    width: 248px;
}

.subheading-h2 {
    max-width: 620px;
    color: white;
    font-size: 2.5rem;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.btn {
    height: 44px;
    max-width: 165px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
    flex-grow: 1;
}

.btn-green {
    background-color: #43b581;;
}

.btn-black {
    box-shadow: 0 10px 20px rgba(32,34,37,.3);
    background-color: black;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-skin {
    font-size: 1.3rem;
    color: white;
}

.btn-gutter {
    margin-right: 20px;
}

.btn-span-border {
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 3px;
    padding: 2px;
    line-height: 1;
    margin-left: 6px;
}

.btn-flex {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
}

.btn-align {
    justify-content: center;
    margin-top: 20px;
}

.wave {
    background-image: url("../assets/wave.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 18.48958%;
    margin: 0 -2px -2px 0;
    box-sizing: border-box;
}

.hash-svg {
    background-image: url("../assets/hash.svg");
}

.gif-svg {
    background-image: url("../assets/gif.svg");
}

.stream-svg {
    background-image: url("../assets/comp.svg");
}

.vid-svg {
    background-image: url("../assets/screen.svg");
}

.globe-svg {
    background-image: url("../assets/globe.svg");
}

.up-svg {
    background-image: url("../assets/up.svg");
}

.diamond-svg {
    background-image: url("../assets/diamond.svg");
}

.wheel-svg {
    background-image: url("../assets/wheel.svg");
}

.mid {
    width: 100%;
    padding-top: 100px;
    background-color: #18191c;
}

.mid-content {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    box-sizing: border-box;
}

.subheading-h3 {
    grid-column: 1 / 4;
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

.perk {
    padding: 30px;
    flex: 1 1 160px;
}

.perk-svg {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

.perk-subheading {
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: white;
}

.perk-para {
    color: #b9bbbe;
    font-size: 1.5rem;
    line-height: 1.3;
}

.doit {
    grid-column: 1 / span 3;
    font-size: 5rem;
    margin-bottom: 46px;
    color: white;
    text-align: center;
    padding: 100px 0;
    font-weight: 700;
}

.page-bot {
    width: 100%;
    background-color: #7289da;
}

.wave-bot {
    transform: rotate(180deg);
    background-position: 0 5px;

}




/* Media Queries */

@media screen and (max-width: 1080px) {
    .svg-discord {
        visibility: hidden;
        width: 0;
    }
    .svg-responsive {
        visibility: hidden;
        width: 0;
        margin: 0;
        padding: 0;
    }
    .subheading-h2 {
        max-width: 420px;
    }
    .page-nitro {
        min-width: 868px;
    }
}

@media screen and (max-width: 868px) {
    .nav {
        display:none;
    }
    .page-nitro {
        min-width: 320px;
    }
}

@media screen and (max-width: 768px) {
    .subheading-h2 {
        margin-left: auto;
        margin-right: auto;
    }
    .btn-flex {
        justify-content: center;
    }
    .hero-align {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 420px) {
    .btn {
        max-width: 300px;
        min-width: 165px;
    }
}

